In [1]:
import sqlite3
import numpy as np
import pandas as pd
conn = sqlite3.connect('hackson.db')
id=(input("id"))
sqlstr="SELECT no, pclass, name, sex, age FROM titanic where no='%s';"  %(id)
result=pd.read_sql(sqlstr,conn)
male,female=0,0
if(result['sex'][0]=='male'):
    male=1
else:
    female=1
age15,age30,age50,age65=0,0,0,0
if(float(result['age'][0])<16):
    age15=1    
elif(float(result['age'][0])<31):    
    age30=1    
elif(float(result['age'][0])<51):    
    age50=1    
else:
    age65=1
class1,class2,class3=0,0,0
pclass=int(result['pclass'][0])
if (pclass==1):
    class1=1
elif (pclass==2) :
    class2=1
else:
    class3=1
customerprofile=np.array([age15,age30,age50,age65,male,female,class1,class2,class3])

id1

In [3]:
result

  no pclass                           name     sex age
0  1      1  Allen, Miss. Elisabeth Walton  female  29

In [2]:
sqlstr="SELECT 產品編號, 產品名稱, age15, age30, age50, age65, male, female, class1, class2, class3 FROM 中油生技產品;"
bioproduct=pd.read_sql(sqlstr,conn)
feature=bioproduct[['age15','age30','age50','age65','male','female','class1','class2','class3']]
 
for i in range(0,len(bioproduct)):
    c=feature.iloc[i]*customerprofile
    weight=np.sum(c)    
    bioproduct.loc[i,'weight']=weight
bioproduct.sort_values(by=['weight'],ascending=0).head()

,產品編號,產品名稱,age15,age30,age50,age65,male,female,class1,class2,class3,weight
11,500FC0009002,ZOEYEN水漾生物纖維面膜,-99,10,8,5,-5,10,10,5,-5,30.0
13,500FC0009023,ZOEYEN美妍NAG胺基酸洗面乳,-99,10,8,5,-5,10,6,5,-5,26.0
10,500FC0009013,ZOEYEN小分子抗皺活顏精華露,-99,5,10,5,-5,10,10,5,-5,25.0
9,500FC0002008,纖可麗,-99,2,10,8,-5,10,10,5,-5,22.0
1,500FC0003004,頂級小分子膠原蛋白,-99,2,10,8,-5,10,10,5,-5,22.0

In [4]:
 sortedbioproduct=(bioproduct.sort_values(by=['weight'],ascending=0))

In [18]:
conn.close()